<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Accueil</a> |
        <a href="{{ url_for('contact') }}">Contact</a> |
        <a href="{{ url_for('age') }}">Age</a> |
        <a href="{{ url_for('show_articles') }}">Articles</a> |
        <a href="{{ url_for('list_users') }}">Users</a> |
        <a href="{{ url_for('blog.show_blog') }}">Blog</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
